.page_title {
    height: 18vh;
    margin-top:5vh;
    background-color: map-get($foundation-palette, primary);
    font-size: 3em;
    color: $white;
    @media (max-width: 950px) {
        font-size: 2rem;
    }
    @media (max-width: 640px) {
        font-size: 1rem;
    }
}
.about-us {
    margin-top: 5vh;
    h4 {
        border: 7px;
        border-style: double;
        border-radius: 5px;
        padding: 30px;
        margin-left: 5vw;
        margin-right: 5vw;
        // margin-left: 100px;
    }
}
.card {
    background-color: map-get($foundation-palette, primary);
    padding: 20px;
    margin-top: 0vh;
    border-color: map-get($foundation-palette, secondary);
    border-radius: 5px;
    p {
        font-size: 1.3rem;
        padding: 10px;
    }
}

.shadow {
    box-shadow: 4px 3px 4px #000000;
}

.primary-color {
    background-color: red;
    // margin-left: 1000px;
}

.closing-article {
    margin-top: 5vh;
    h4 {
        border: 7px;
        border-style: double;
        border-radius: 5px;
        padding: 30px;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}
