.footer-content {
    background-color: map-get($foundation-palette, primary);
    text-align: center;
    padding: 1rem;
    a {
        color: map-get($foundation-palette, baytree-orange);
    }
    a:hover{
        color: $white;
    }
    color: map-get($foundation-palette, baytree-orange);
    img {
        width: 11rem;
        padding-bottom: 10px;
    }
    span {
        font-size: 1.2rem;
    }
}
.fi-laptop {
    font-size: 2rem;
    padding-right: 0rem;
}
.icon-logo {
    height:50px;
}
