.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}
.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    border-radius: 4px;
}
.form-content {
    background-color: map-get($foundation-palette, primary);

}
.form-main {
    background-color: map-get($foundation-palette, primary);
    padding-bottom: 10px;
    padding-top: 10px;
    a {
        color: $white;
    }
    a:hover{
        color: $white;
    }
    @include breakpoint(medium) {
        margin-bottom: 90px;
        text-decoration: line-through;
    }

}
.form-address {
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 1.5rem;
    a {
    color: white;}
    @include breakpoint(medium) {
        font-size: 2rem;
        font-family: cursive;
        color: $white;
        padding-bottom: 3%;
    }
}
