<section id="home" data-magellan-target="home"></section>
<div data-sticky-container>
    <div class="row align-justify menu menu-shadow hide-for-small-only" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">
                    <li class="fi-home hide-for-small-only">
                        Baytree Forge
                        <li class="fi-telephone hide-for-small-only">
                            07931 477173
                        </li>
            </ul>
        </div>
        <div class="top-bar-right hide-for-medium-only hide-for-small-only">
            <ul class="menu" data-magellan>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#first">About Us</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>