<section id="home" data-magellan-target="home"></section>
<div data-sticky-container>
    <div class="row align-justify menu menu-shadow hide-for-small-only" data-sticky data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
            <ul class="menu">
                <li>Baytree Forge</li>
                <li>
                    <li>
                        <i class="fas fa-mobile-alt"></i> 07931 477173</li>
                </li>
            </ul>
        </div>
        <div class="top-bar-right hide-for-medium-only hide-for-small-only">
            <ul class="menu" data-magellan data-bar-offset="50">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#first">About Us</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>