<section class="hero">
    <div class="intro">
        <h1>Baytree Forge</h1>
    </div>
    <div class="tag hide-for-small-only">
    <h1>
         Specialist in Automatic Gates
    </h1>
        <!-- <h2 class="hide-for-medium-only hide-for-small-only">Bespoke Wrought Iron Design and Manufacture</h2> -->
    </div>
    <div class="arrow hide-for-small-only hide-for-medium-only" data-magellan>
        <a href="#first"><img src="/assets/img/arrow_down_white_100px.svg" alt="down_arrow"></a>
    </div>
</section>
